.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .container-btn {
    margin-top: 100px;
    display: flex;
    gap: 10px; 
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-cadastro {
    width: 180px; 
    height: 50px; 
    background-color: #007cc1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 25px; 
  }
.btn-back{
  width: 100px; 
    height: 50px; 
    background-color: #007cc1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 25px;
}
  
  .btn-back:hover,
  .btn-cadastro:hover {
    background-color: #005f91;
    transform: scale(1.05);
  }
  