<div class="container">
  <h2>Fases do Processo</h2>
  <button class="btn-back btn-secondary" (click)="voltar()"><i class="bi bi-arrow-left"></i></button>
  <button class="btn-cadastro" (click)="irParaCadastro()">Cadastrar Fase</button>

  <div *ngIf="fases.length > 0; else semFases">
      <div class="fase-card" *ngFor="let fase of fases">
          <h3>{{ fase.nameFase }}</h3>
          <p><strong>Prazo:</strong> {{ fase.prazoFase | date: 'dd/MM/yyyy' }}</p>
      </div>
  </div>

  <ng-template #semFases>
      <p>Este processo ainda não possui fases.</p>
  </ng-template>
</div>
