<div class="container">
      <button (click)="irParaCadastro()" class="button-go"> 
        <i class="bi bi-plus-circle"></i>Cadastrar Processo Ético</button>

    <div class="row">
      <div class="col-12" *ngFor="let processoEticos of processosPorPagina">
        <app-processo-etico-card [processoEtico]="processoEticos"></app-processo-etico-card>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1" class="button-previous"><i class="bi bi-arrow-left"></i></button>
      <span>Página {{paginaAtual}} de {{totalDePaginas}}</span>
      <button (click)="proximaPagina()" class="button-next" [disabled]="paginaAtual === totalDePaginas"><i class="bi bi-arrow-right"></i></button>
    </div>
</div>
