<div class="card">
  <div class="card-body">
      <div class="info-item">
          <p class="label">N° Processo</p>
          <p class="value">{{ processo.numberProcess }}</p>
      </div>
      <div class="info-item">
          <p class="label">N° Denúncia</p>
          <p class="value">{{ processo.numberDenuncia }}</p>
      </div>
      <div class="info-item">
          <p class="label">Data Denúncia</p>
          <p class="value">{{ processo.dateDenuncia | date:'dd/MM/yyyy' }}</p>
      </div>
      <div class="info-item">
          <p class="label">É Ético</p>
          <p class="value">{{ processo.isEthicalProcess ? 'Sim' : 'Não' }}</p>
      </div>
      <div class="info-item">
          <p class="label">Pertence ao Cofen</p>
          <p class="value">{{ processo.belongsCofen ? 'Sim' : 'Não' }}</p>
      </div>
      <div class="d-flex">
        <div class="container-btn">
            <a href="#" class="btn-edit"><i class="bi bi-pencil-square"></i></a>
        </div>
        <div class="container-btn">
            <a href="#" class="btn-delete"><i class="bi bi-trash-fill"></i></a>
        </div>
      </div>
  </div>
</div>
