<div class="container">
  
    <form (ngSubmit)="cadastrarFase()">
      <div class="form-group">
        <label for="nameFase">Nome da Fase:</label>
        <input type="text" id="nameFase" [(ngModel)]="nameFase" name="nameFase" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="prazoFase">Prazo: (em dias)</label>
        <input type="text" id="prazoFase" [(ngModel)]="prazoFase" name="prazoFase" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </form>
  </div>
  