.container {
    padding: 10px;
    max-width: 1000px;
    margin: auto;
  }
  
  .button-next{
    margin-bottom: 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  .button-previous{
    margin-bottom: 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .container-btn {
    margin-top: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
  }
  .btn-cadastro {
    width: 250px; 
    height: 50px; 
    background-color: #007cc1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 25px; 
  }
  
  .btn-cadastro:hover {
    background-color: #005f91;
    transform: scale(1.05);
  }

  .btn-cadastro:active {
      transform: scale(0.95);
  }

  .btn-cadastro i {
      font-size: 18px;
  }

  .row {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  .col-12 {
    width: 100%; 
    padding: 0 15px;
    margin-bottom: 1px; 
  }
  
  .pagination-controls {
    position: fixed;
    bottom: 120px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: white; 
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }

  .pagination-controls button {
    margin: 0 10px;
    padding: 5px 15px;
  }
  
  .pagination-controls span {
    font-family: 'geistvf';
    font-size: 1rem;
    margin: 0 10px;
  }

.search-container {
  display: flex;
  flex: 1; 
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: 20px 0;
  width: 100%;
}

.search-container i {
  position: absolute;
  right: 35px; 
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
  pointer-events: none; 
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  padding-left: 35px; 
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
