<div class="container">
    <h2>Lista de Processos</h2>
    
    <div class="container-btn">
      <button (click)="irParaCadastro()" class="button-go">Cadastrar Novo Processo</button>
    </div>

    <div class="row">
      <div class="col-12" *ngFor="let processo of processosPorPagina">
        <app-processo-card [processo]="processo" (processoDeletado)="removerProcessoDaLista($event)"></app-processo-card>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1" class="button-previous"><i class="bi bi-arrow-left"></i></button>
      <span>Página {{paginaAtual}} de {{totalDePaginas}}</span>
      <button (click)="proximaPagina()" class="button-next" [disabled]="paginaAtual === totalDePaginas"><i class="bi bi-arrow-right"></i></button>
    </div>
</div>
